@import 'style.css';

body {
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
}

label {
    color: #F07D00;
    font-weight: bold;
}
button[type=submit] {
    margin-top: 1rem;
}
